// Write your overrides
.container{
    margin: 60px 20px 20px 0;
    
}
.custom-main{
    padding: 50px !important;
   }

   .menu{
       .v-list-item{
          cursor: pointer;
          
       }
       .v-list-item:hover{
        
          background-color: #7367f0;
       
     }
     .active{
        background-color: #7367f0;
    }
      
   }